h1 {
  color:#cd3529;
  font-family:'Times New Roman', Times, serif
}

html {
  scrollbar-gutter: stable;
}

html {
  min-height: 100vh;
  margin: 0;
}

h2 {
  color:#cd3529;
  font-family:'Times New Roman', Times, serif
}

p {
    color:#272727;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
}

dt {
    color:#272727;
    font-size:20px
}

dl {
    color:#272727;
    font-size:18px
}

td, th {
  border: 1px solid #fac3c2;
  text-align: left;
  padding: 8px;
}

body {
    background-image: url("/images/background.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 25%; /* or cover */
    min-height: 100vh;
    margin: 0;
    padding: 8px;
    padding-bottom: 2.5%;
}

a:link {
  color: #e06b67;
}

a:visited {
  color: #be5d59;
}

a:hover {
  color: #ff9794;
}

a:active {
  color: #be5d59;
}

div.gallery {
  background-color: #fff;
  margin-bottom: 2.5%;
}

div.gallery img {
  width: 100%;
  border: 1px solid #e2abab
}

div.gallery img:hover {
  border: 1px solid #cd3529
}

div.desc {
  padding: 15px;
  text-align: center;
  border: 1px solid #e2abab
}

* {
  box-sizing: border-box;
}

img.emoji {
  width:1em;
  pointer-events: none; 
  vertical-align: -0.2em
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  div.gallery {
    margin-bottom: 1%;
  }
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 700px){
  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  .copyright {
  color:#858585;
  font-family:'Times New Roman', Times, serif;
  font-size:14px;
  font-weight:normal;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  }

  .logo {
    width: 300px;
  }
  .img_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  table{
  border-collapse: collapse;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  }
}

@media only screen and (max-width: 700px){
  .logo {
    width: 42.8%;
  }
  .img_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }
  .copyright {
  color:#858585;
  font-family:'Times New Roman', Times, serif;
  font-size:14px;
  font-weight:normal;
  text-align: center;
  }
  table{
  border-collapse: collapse;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  }
}

.img_deg{
  float:right;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 700px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other 
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
*/

/* End of styles.css */