h1 {
  color:#cd3529;
  font-family:'Times New Roman', Times, serif
}

h2 {
  color:#cd3529;
  font-family:'Times New Roman', Times, serif
}

p {
    color:#272727;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
}

dt {
    color:#272727;
    font-size:20px
}

dl {
    color:#272727;
    font-size:18px
}

td, th {
  border: 1px solid #fac3c2;
  text-align: left;
  padding: 8px;
}

body {
    padding-bottom: 2.5%;
}

a:link {
  color: #e06b67;
}

a:visited {
  color: #be5d59;
}

a:hover {
  color: #ff9794;
}

a:active {
  color: #be5d59;
}

div.gallery img {
  width: 100%;
  height: auto;
  border: 1px solid #e2abab
}

div.gallery img:hover {
  border: 1px solid #cd3529
}

div.desc {
  padding: 15px;
  text-align: center;
  border: 1px solid #e2abab
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 700px){
  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  .copyright {
  color:#858585;
  font-family:'Times New Roman', Times, serif;
  font-size:14px;
  font-weight:normal;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  }

  .logo {
    width: 300px;
  }
  .img_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  table{
  border-collapse: collapse;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  }
}

@media only screen and (max-width: 700px){
  .logo {
    width: 42.8%;
  }
  .img_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }
  .copyright {
  color:#858585;
  font-family:'Times New Roman', Times, serif;
  font-size:14px;
  font-weight:normal;
  text-align: center;
  }
  table{
  border-collapse: collapse;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  }
}



/* End of styles.css */